

* {
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
}
body {
    width: 100%;
    height: 100%;
}

.content {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 5fr;
}

.header {
    background-color: aqua;
    grid-column: 1/3;
}

.projects {
    background-color: bisque;
    grid-column: 1/2;
    grid-row: 2/3;
}

.tasks {
    background-color: blueviolet;
    grid-column: 2/3;
    grid-row: 2/3;
}