

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

.content {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 5fr;
}

.header {
  background-color: rgb(90, 116, 116);
  grid-column: 1/3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.logo {
  font-size: 28px;
  font-weight: bold;
  color: #333;
}

.navbar {
  display: flex;
  gap: 20px;
}

.navbar a {
  color: #333;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}

.navbar a:hover {
  background-color: #333;
  color: #fff;
}

.projects, .tasks {
  background-color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  

}

.project-list, .task-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.project-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}

.project-info, .task-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.project-title, .task-title {
  font-size: 20px;
  font-weight: bold;
  color: #333;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.task-title {
  width: 500px;
}

.project-description, .task-description {
  font-size: 16px;
  color: #666;
}

#addproject-btn {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 120px;
  margin-left: auto;
  margin-right: auto;
}

.project-item img, .task-item img {
  width: 20px;
  height: 20px;
}

.project-title:hover {
  cursor: pointer;
  color: #4CAF50;
}

.addproject-box, .editproject-box, .addtask-box, .edittask-box {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fff;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
}

h2 {
  margin-top: 0;
}

form label {
  display: inline-block;
  margin-bottom: 5px;
}

form input[type="text"],
form textarea {
  width: 100%;
  padding: 8px 16px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
}

button[type="submit"],
button.cancel-btn {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button.cancel-btn {
  background-color: #d47575;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
  
.task-title-container {
  display: flex;
  gap: 20px;
}

.task-icons-container {
  display: flex;
  gap: 5px;
}

li.expanded .task-description {
  display: block;
}

li:not(.expanded) .task-description {
  display: none;
}

.task-details-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}

.task-title:hover {
  cursor: pointer;
}

#addtask-btn {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
}

.tasks ul {
  margin-top: 30px;
}

